{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Syed Noveedh - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Syed Noveedh."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot1" class="quickFade">
			<img src="{% static 'images/headshot1.jpg' %}" class="rounded-circle" width="50" height="50"  alt="Syed Noveedh" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Syed Noveedh</h1>
			<h2 class="quickFade delayThree">Python Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>📧 syed.noveedh@gmail.com</a></li>
				<li><a href="https://www.linkedin.com/in/noveedh-syed-395996219/">Linkedin Profile</a></li>
				<!-- <li><a href="{{ Social_media_links.linkedin_url }}">Linkedin Profile</a></li> -->
				<li><a href="https://github.com/Snoveedh">GitHub Profile</a></li>
				<li>+91 9606796326</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profile Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>Well- skilled Python developer having 3.6+ years of experience in Python, Unix/Linux & PostgreSQL. Looking for a challenging role in Python, Django and Internet of Things Technologies, where I can employ my skills for the mutual pride and development of both organization and my career.. Having Sound Knowledge on DJANGO Framework, AWS, HTML, Bootstrap, CSS. I am remarkably achieved in manipulating illustration hierarchy a standard giver to system improvement.  </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>

		<section>
			<article>
				<div class="sectionTitle">
					<h1>Technical Exposure</h1>
				</div>
				
				<div class="sectionContent col-2" >
					<p> •	A result oriented professional with 3.6+ years of experience in Python.
						•	Having Good knowledge in Linux/Unix servers and commands.
						•	Strong experience in Object Oriented Programming, Modules, and Packages in Python.
						•	Good Knowledge  in developing web applications implementing Model View Template architecture using Django Web framework.
						•	Having Good knowledge in working with Python ORM Libraries including Django ORM.
						•	Having Knowledge on Amazon Web Services like EC2 Instances, EBS, VPC, IAM, S3, Route53
						•	Good understanding of frond end technologies, Such as HTML5, CSS3, Bootstrap..
						•	Experience in working with various Python Integrated Development Environments like VSCode, PyCharm, Eclipse.
						•	Having good knowledge in using SQL databases like MYSQL and PostgreSQL.
						•	Having good knowledge in version control systems like git.
						•	Having ability to learn new software tool in a short span of time and one of Good team member.
						•	Developed personal projects based on Django and pushed in GIT(github.com/Snoveedh)
						</p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>VSM (Virtual Service Manager)</h2>
					<p class="subDetails">September 2018 - Present</p>
					<p>VSM is an Identity Access Management Platform tool which will provide Access to the Users on Linux/Unix/Windows/CMx/Solaris servers with required command access with SRPA Id generation for the access with upstream APATE, AD, ED and with downstream AD, Private cloud. It will also provides the Audit reports to CRM team on servers and CAR/Wingather packages installations on the windows/Linux servers and provides the data to change management team to make the build servers to Active state.This tool is being used to create the Power Broker/AD/LDAP/Infrastructure and AOD/GOD groups and user can raise access for the groups. All the access will be created based on server/eprid/app CI and allowed to create the Application/local/windows local accounts on the servers.</p>
					<h2>Organization</h2>
					<p>DXC Techonology</p>
					<h2>Client</h2>
					<p>HPI</p>
					<h2>Team Size</h2>
					<p>6</p>
					<h2>Technologies</h2>
					<p>Python, Linux, PostgreSQL, Perl, Dot Net, PHP,HTML</p>
					<h2>Achievements</h2>
					<p>Received 2 Time as Best Employee for Two consecutive Years in DXC Champ Awards and Townhall Recognitions.</p>
				</article>
				<br/>
				<article>
					<!-- <h2>Organization</h2> -->
					<!-- <p class="subDetails">Janruary 2012 - March 2013</p> -->
					<!-- <p>DXC Technology</p> -->
					<h2>Roles and Responsibilities</h2>
					<p>
						•	Developed the Custom modules for the Database and Vault to use in the other modules scripts using python.
						•	Written the scripts to automate the SSL cert expiration alerts for all 21 production servers using python.
						•	Designed and developed enhancements like getting the account renewal, manager info, audit report automation 
						•	Used python to develop the codes for the enhancements and migrating the existing scripts which are in other language to python.
						•	Used Python to Implement the Enhancement of Urgent termination of the employees through the platform tool.
						•	Responsible for debugging and troubleshooting the script/Db related issues.
						•	Took part in code reviews and technical documentation for reference and reporting.
						•	Did Enhancement and migration on Ticket routing from HPSM to Service now using Basic Shell script.
						•	Integrated the user & Client Oriented needs like sending email notification of expiration of Application accounts
						•	Queried &EnhancedPostgresql DB queries from Python using posgresql Connector and Postgresql DB package to retrieve information.
						•	Create ondemand daily &weekly reports by invoking scripts with custom arguments and parameters to provide actionable data to the Change Management and CRM teams
						•	Scheduling tasks on windows task scheduler to run the Python scripts and Perl based exe files to generate reports or frequent interval of times.
						•	Having experience to schedule the cronjobs for all the developed scripts.
						•	Collaborated with internal teams to convert end user feedback into meaningful and improved solutions.
						•	Followed the Service now tracking tool for the Issues as per the prioritization 
						•	Implemented the Agile methodologies and water fall method to implement and enhance the tool as per the demand from the client.
						•	Responsible to renew SSL for 21 physical servers when the time comes for expiration.
						•	Closely worked with ED/LDAP/Platform teams to trouble shoot the user & environment issues.
						•	Responsible to perform smooth operations and maintenance of the Application without any bugs and issues.
						•	Resolved The issues routed from L3 to troubleshoot and debug the errors.
						•	Responsible to run the CAR/Wingather security packages on the environmental servers from depots and responsible to maintain the data in the DB.
						•	Involved in the Application server migration (new data center) for new server and also cloning the existing server.
						•	Part of migration teams from one Data center to other for 18000 servers.
						•	Installation, configuration, integration, tuning, backup, crash recovery, upgrades, patching, monitoring system performance, system and network security, and troubleshooting of Linux/Unix servers.
						</p>
				</article>
				<!-- <br/>
				<article>
					<h2>Chairman/CEO Market-Tek Enterprises, Inc.</h2>
					<p class="subDetails">Janruary 1998 - March 2010</p>
					<p>Created one of the Internet's earliest SEO Marketing tools, the "Submission-Spider" Search Engine Submission Tool.  Software was used by over three million individuals, businesses, and governments in over forty six countries around the world.</p>
				</article>
				<br/>
				<article>
					<h2>Founder BannerClicks.com Advertising Network</h2>
					<p class="subDetails">October 1997 - December 1998</p>
					<p>Built one of the Internet's very first Advertising Networks and sold the company to a publicly listed (Nasdaq) company at the height of the first dot-com boom of the late 90's.</p>
				</article> -->
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		
		<!-- <section>
			<div class="sectionTitle">
				<h1>Published Books</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Intro To Ruby Programming</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Intro-Ruby-Programming-Beginners-Guide/dp/0692714413" target="new">Amazon.com Paperback</a></p>
					<p>Learn Ruby Programming from the ground up with this intro guide. Follow along as we build a Math Flashcard Game. </p>
					
				</article>
				<br/>
				<article>
					<h2>Ruby on Rails For Web Development</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Learn-Ruby-Rails-For-Development/dp/0692364218" target="new">Amazon.com Paperback</a></p>
					<p>Written for the absolute Rails beginner, this book teaches anyone how to do web development using Ruby on Rails. </p>
				</article>
				<br/>
				<article>
					<h2>PHP Programming For Affiliate Marketers</h2>
					<p class="subDetails"><a href="http://www.amazon.com/dp/0972560459/?tag=intrmedi-20" target="new">Amazon.com Paperback</a></p>
					<p>As Affiliate Marketers, there's going to be time you'll need to code a little PHP. This book teaches you how.
( Kindle | Paperback )</p>
				</article>
				<br/>
				<article>
					<h2>Living The Dot Com Lifestyle</h2>
					<p class="subDetails"><a href="https://www.amazon.com/Living-Dot-Com-Lifestyle-Independence/dp/0692745777/" target="new">Amazon.com Paperback</a></p>
					<p>The Ultimate Guide to Independence and Financial Glory. Learn to live the dot com lifestyle. </p>
				</article>
				<br/>
				<article>
					<h2>The Smart Startup</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Smart-Startup-Without-Falling-Venture/dp/069246512X" target="new">Amazon.com Paperback</a></p>
					<p>Learn The Smart Startup Method and crush it without falling into the Venture Capital trap! </p>
				</article>
			</div>
			<div class="clear"></div>
		</section> -->
		
		<br/>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>PostgreSQL/MySQL</li>
					<li>Bootstrap</li>
					<li>HTML/CSS</li>
					<li>Git</li>
					<li>AWS</li>
					<li>PyCharm/VS code</li>
					<li>ServiceNow/HPSM</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>JNTU of Anantapur</h2>
					<p class="subDetails">Bachelor of Technology (EEE)</p>
						<p>Passed out in the year of 2014 with distinction 73.4%</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>